.carousel-width {
  width: 100%;
  margin-left: 0px;
  @media (min-width: 768px) {
    width: calc(100% - 100px);
    margin-left: 85px;
  }
  @media (min-width: 1200px) {
    width: calc(100% - 100px);
    margin-left: 100px;
  }
}

.carousel-height {
  height: 340px;
}

.carousel-control-prev {
  position: absolute;
  top: calc(100% - 28px);
  left: 0px;
  @media (min-width: 768px) {
    top: 0px;
    left: -85px;
  }
  @media (min-width: 1200px) {
    top: 0px;
    left: -100px;
  }
}

.carousel-control-next {
  position: absolute;
  top: calc(100% - 28px);
  left: 62px;
  @media (min-width: 768px) {
    top: 77px;
    left: -85px;
  }
  @media (min-width: 1200px) {
    top: 77px;
    left: -100px;
  }
}

.carousel-indicators {
  flex-direction: column;
  right: auto;
  left: -100px;
  transform: translateX(20px);
  margin: 0;

  li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 8px 0 0 0;
    border-top: none;
    border-bottom: none;
    background-color: $btn-light-hover;
  }
}

.catechesi-all {
  .bg-carousel-dark {
    position: relative;
    width: 100vw;
    padding: 0 !important;

    &:before {
      content: "";
      width: 50000px;
      height: calc(100% - 84px);
      position: absolute;
      background-color: #434343;
      left: 0;
      bottom: 0;
      transform: translateX(-50%) translateY(39px);
      @media (min-width: 768px) {
        width: 100vw;
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(-80%) translateY(0px);
      }
    }
  }

  .carousel-control-prev {
    position: absolute;
    top: calc(100% - 28px);
    left: 0px;
    @media (min-width: 768px) {
      top: 48px;
      left: -85px;
    }
    @media (min-width: 1200px) {
      top: 48px;
      left: -100px;
    }
  }

  .carousel-control-next {
    position: absolute;
    top: calc(100% - 28px);
    left: 62px;
    @media (min-width: 768px) {
      top: 125px;
      left: -85px;
    }
    @media (min-width: 1200px) {
      top: 125px;
      left: -100px;
    }
  }
}


/* SLIDER CATECHESI */


#carouselCatechesi, #carouselGiornali {
  .carousel-item {
    margin-right: 0;
  }

  /* show 6 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item
  {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  /* last visible item + 1 */
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    //right: 100%;
    //right: -318px;
    //right: -100%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    z-index: 1 !important;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-next.carousel-item-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
    z-index: 1 !important;
  }
}


// SLIDER CAROUSEL

.slider-carousel {
  margin: 0 0 -30px 0;
  padding-bottom: 30px;
  white-space: nowrap;
  transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s !important;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.slider-carousel-item {
  padding: 0 16px 0 0;
  width: 80%;
  min-width: 80%;
}

@media (min-width: 575px) {
  .slider-carousel-item {
    padding: 0 24px 0 0;
    width: 45%;
    min-width: 45%;
  }
}

@media (min-width: 992px) {
  .slider-carousel-item {
    padding: 0 24px 0 0;
    width: 33.3%;
    min-width: 33.3%;
  }
}



