.home-numeri {
    .border-right {
        @media (max-width: 767px) {
            border: none !important;
        }
    }
    .text-infty {
        @media (min-width: 768px) {
            font-size: 100px;
        }
    }

    .text-big {
        @media (max-width: 767px) {
            font-size: 60px;
        }
    }
}

.chi-siamo {
    background-color: $primary;
    background-image: url("assets/images/chi-siamo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .link-plus {
        font-size: 40px;
        color: white;
        background-color: rgba(255,255,255,.2);
        &:hover {
            color: white;
            background-color: rgba(255,255,255,.3);
        }
    }
}

.team-foto {
    .profile-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid white;
    }
}

.team-foto {
    @media (max-width: 767px) {
        .profile-img:nth-child(n+5) {
            display: none;
        }
    }
    @media (max-width: 1199px) {
        .profile-img:nth-child(n+11) {
            display: none;
        }
    }
    @media (min-width: 1200px) {
        .profile-img:nth-child(n+12) {
            display: block;
        }
    }
}


.card-img {
    @media (min-width: 768px) {
        max-width: calc(16.6% - 16px) !important;
    }
    .profile-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .text-big {
        font-size: 55px;
    }
}

.card-img-large {
    @media (min-width: 768px) {
        max-width: 100% !important;
    }
    .profile-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .text-big {
        font-size: 55px;
    }
}

.progetti {
    .col-md-6 {
        @media (min-width: 768px) {
            max-width: calc(50% - .75rem);
        }
    }
}